services:
  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - ./data/mongo-data:/data/db
    networks:
      - ms-network

  mysqldb:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: example
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./data/mysql-data:/var/lib/mysql
    networks:
      - ms-network

networks:
  ms-network:
    driver: bridge
